
<app-home></app-home>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clearModal()">
    Add post 
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                 <div class="form-group">
                   <div class="">
                     <input 
                     type="text" id="date" class="form-control " placeholder="post name" [(ngModel)]="postName" name="postName">
                   </div>
                   <div class="input-group">
                       <textarea type="text" id="time" class="form-control" placeholder="post description " 
                        [(ngModel)]="postDescription" name="postDescription"></textarea>
                     
                   </div>
                 </div>
                 
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addPost()">Add Post</button>
        </div>
      </div>
    </div>
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let post of posts ; let index = index">
        <td>{{post?.name | upperCaseFirstChar}}</td>
        <td>{{post?.description  | upperCaseFirstChar}}</td>
        <td>
            <div>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#postModal" (click)="prepareModal(post)"> edit</button>
                <button class="btn btn-danger" (click)="deletePost(post)"> remove</button>
 <!-- Modal -->
 <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                
                <div class="col-md-8 ">
                 <div class="form-group">
                   <div class="">
                     <input 
                     type="text" id="date" class="form-control " placeholder="post name" [(ngModel)]="postName" name="postName">
                   </div>
                   <div class="input-group">
                       <textarea type="text" id="time" class="form-control" placeholder="post description " 
                        [(ngModel)]="postDescription" name="postDescription"></textarea>
                     
                   </div>
                 </div>
                 
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>Close</button>
          <button type="button" class="btn btn-primary" (click)="updatePost()">Edit  Post</button>
        </div>
      </div>
    </div>
  </div>
            </div>
        </td>
      </tr>
     
    </tbody>
  </table>

