<form class="row g-3">
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Email</label>
        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
      </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="password" name="password">
    </div>
    <div class="col-auto">
        <button class="btn btn-primary mb-3" (click)="login()">Confirm identity</button>
      </div>
    </form>
  