<nav style="margin-left: 30%; max-width: 300px;" class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/private/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/private/posts">posts</a>
        </li>
        <li class="nav-item" appRole>
          <a class="nav-link" routerLink="/private/users" >users</a>
        </li>
      </ul>
    </div>
  </nav>