<app-home></app-home>


<table class="table">
    <thead>
      <tr>
        <th scope="col">userName</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
        <th scope="col">Role</th>

      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of users ">
        <td>{{user?.username  | upperCaseFirstChar}}</td>
        <td>{{user?.email}}</td>
        <td>{{user?.address}}</td>
        <td>{{user?.role}}</td>
      </tr>
     
    </tbody>
  </table>
